{% import 'macros/forms.twig' as forms %}

<h3>Snippet bearbeiten:</h3>


<form action="/admin/snippets/{{ activeAction == "create" ? "create" : "update/" ~ data.snippet.SnippetID }}" method="post" class="snippets-edit">

    {{ forms.dashboardInput({
        type: "text",
        name: "SnippetID",
        label: "Identifier",
        description: "Die snippetID kann nicht bearbeitet werden. Sie wird verwendet um den Text auf der Website ordnungsgemäß anzuzeigen.",
        disabled: activeAction != "create"
    }, data.snippet, error) }}

    {{ forms.dashboardInput({
        type: "checkbox",
        name: "RenderMarkdown",
        label: "Markdown",
        description: "Wenn nicht aktiviert, wird der Eintrag nicht mit Markdown gerendert und nur als HTML ausgegeben."
    }, data.snippet, error) }}

    {{ forms.dashboardInput({
        type: "text",
        name: "Description",
        label: "Beschreibung",
        disabled: activeAction != "create"
    }, data.snippet, error) }}

    {{ forms.dashboardInput({
        type: "textarea",
        name: "Content",
        label: "Inhalt"
    }, data.snippet, error) }}

    {% include "chunks-content/markdown-hint.twig" %}

    {{ forms.csrfInput() }}
    {{ forms.fieldsetSubmit() }}
</form>
