<h2>Snippetverwaltung</h2>
<span>Snippets werden benötigt um die Website mit Text zu befüllen. Jeder Snippet steht für einen bestimmten Textblock auf der Website. Wo genau welcher Textblock steht, kannst du in der Beschreibung nachlesen.</span>
<hr/>
<h3>Verfügbare Snippets:</h3>

{% for snippet in data.snippets %}
    <div class="row listing-row">
        <a class="column span_5" href="/admin/snippets/update/{{ snippet.SnippetID }}">
            <i class="fa fa-pencil"></i>
            {{ snippet.SnippetID }}
        </a>
        <span class="column span_11 overflow-ellipsis">{{ snippet.Description }}</span>
    </div>
{% endfor %}
