<h2>E-Mail</h2>
<span>
	Hier können E-Mail Postfächer erstellt und verwaltet werden.
</span>
<hr/>
<h3>Vorhandene Postfächer:</h3>

<div class="mailbox-list">
    {% for boxAddress, boxes in data.mailboxes %}
        <div class="row listing-row">
            <b class="column span_6">{{ boxAddress }}</b> ({{ boxes|length }})
        </div>

        {% for box in boxes %}
            <div class="row listing-row">
                <span class="column span_6">{{ box.destination }}</span>

                <form action="/admin/mail/delete" method="post">
                    <input type="hidden" name="id" value="{{ box.id }}"/>
                    <input type="hidden" name="ctoken" value="{{ csrf() }}"/>
                    <button type="submit" class="column span_5 button button-light button-confirm button-small">
                        <i class="fa fa-remove"></i> löschen
                    </button>
                </form>
            </div>
        {% endfor %}
    {% endfor %}

    <form action="/admin/mail/create" method="post" class="row">
        <input type="hidden" name="ctoken" value="{{ csrf() }}"/>
        <div class="column span_4">
            <input type="text" name="mailbox" placeholder="Inbox-Name"/>
        </div>
        <div class="column span_2">
            <span class="button button-append button-light button-full">@{{ c('Domain') }}</span>
        </div>
        <i class="column span_1 center fa fa-long-arrow-right" style="line-height: 35px;"></i>
        <div class="column span_6">
            <input type="text" name="destination" placeholder="E-Mail Adresse an die weitergeleitet werden soll"/>
        </div>
        <div class="column span_2">
            <button class="button button-append button-full">Hinzufügen</button>
        </div>
    </form>
</div>
