{% import 'macros/forms.twig' as forms %}


<form action="/admin/config/update" method="post">

    <h4>Allgemein</h4>
    {{ forms.dashboardInput({
        type: "select",
        name: "Environment",
        label: "Umgebung",
        options: {
            dev: 'Entwicklung',
            production: 'Produktiv'
        }
    }, data.config, error) }}

    {{ forms.dashboardInput({
        type: "text",
        name: "Domain",
        label: "Domain"
    }, data.config, error) }}

    {{ forms.dashboardInput({
        type: "select",
        name: "DefaultRequestScheme",
        label: "Standard Protocol",
        options: {
            http: "HTTP",
            https: "HTTPS"
        }
    }, data.config, error) }}

    {{ forms.dashboardInput({
        type: "text",
        name: "FilePrefix",
        label: "Datei URL Prefix"
    }, data.config, error) }}

    {{ forms.dashboardInput({
        type: "text",
        name: "FilePath",
        label: "Dateien Ordner"
    }, data.config, error) }}


    <h4>Email</h4>
    {{ forms.dashboardInput({
        type: "select",
        name: "MailSendType",
        label: "Versandart",
        options: {
            local: "Lokal",
            smtp: "SMTP"
        }
    }, data.config, error) }}

    {{ forms.dashboardInput({
        type: "text",
        name: "MailFrom",
        label: "Absender Adresse"
    }, data.config, error) }}

    {{ forms.dashboardInput({
        type: "text",
        name: "MailFromName",
        label: "Absender Name"
    }, data.config, error) }}

    {{ forms.dashboardInput({
        type: "text",
        name: "MailSmtpHost",
        label: "SMTP Host"
    }, data.config, error) }}

    {{ forms.dashboardInput({
        type: "number",
        name: "MailSmtpPort",
        label: "SMTP Port"
    }, data.config, error) }}

    {{ forms.dashboardInput({
        type: "select",
        name: "MailSmtpAuth",
        label: "SMTP Authentication",
        options: {
            0: "Aus",
            1: "An"
        }
    }, data.config, error) }}

    {{ forms.dashboardInput({
        type: "select",
        name: "MailSmtpSecure",
        label: "SMTP Sicherheit",
        options: {
            none: "Keine",
            ssl: "SSL",
            tls: "TLS",
            starttls: "STARTTLS"
        }
    }, data.config, error) }}

    {{ forms.dashboardInput({
        type: "text",
        name: "MailSmtpUser",
        label: "SMTP User",
        required: false
    }, data.config, error) }}

    {{ forms.dashboardInput({
        type: "password",
        name: "MailSmtpPassword",
        label: "SMTP Passwort",
        required: false
    }, data.config, error) }}



    <h4>Template</h4>
    {{ forms.dashboardInput({
        type: "select",
        name: "FooterSocial",
        label: "Social Footer",
        options: {
            1: "An",
            0: "Aus"
        }
    }, data.config, error) }}


    <h4>Flickr</h4>
    {{ forms.dashboardInput({
        type: "text",
        name: "FlickrKey",
        label: "Flickr API Key",
    }, data.config, error) }}

    {{ forms.dashboardInput({
        type: "text",
        name: "FlickrSecret",
        label: "Flickr API Secret",
    }, data.config, error) }}


    <h4>Facebook</h4>
    {{ forms.dashboardInput({
        type: "text",
        name: "FacebookAppId",
        label: "Facebook App Id",
    }, data.config, error) }}

    {{ forms.dashboardInput({
        type: "text",
        name: "FacebookPageId",
        label: "Facebook Page Id",
    }, data.config, error) }}


    <h4>Kalender</h4>
    {{ forms.dashboardInput({
        type: "textarea",
        name: "GoogleApiJson",
        label: "Google API JSON",
    }, data.config, error) }}

    {{ forms.dashboardInput({
        type: "text",
        name: "GoogleOauthResponse",
        label: "Google OAuth Response",
        required: false
    }, data.config, error) }}

    {{ forms.dashboardInput({
        type: "text",
        name: "GoogleCalendarApiKey",
        label: "Google API Key",
    }, data.config, error) }}

    {{ forms.dashboardInput({
        type: "text",
        name: "GoogleCalendarIdPrivate",
        label: "Kalender ID Privat",
    }, data.config, error) }}

    {{ forms.dashboardInput({
        type: "checkbox",
        name: "CalendarShowHolidays",
        label: "Feiertage zeigen",
    }, data.config, error) }}


    <h4>Cloudflare</h4>
    {{ forms.dashboardInput({
        type: "text",
        name: "CloudflareKey",
        label: "Cloudflare Key"
    }, data.config, error) }}

    {{ forms.dashboardInput({
        type: "text",
        name: "CloudflareMail",
        label: "Cloudflare Email"
    }, data.config, error) }}

    {{ forms.dashboardInput({
        type: "text",
        name: "CloudflareZoneID",
        label: "Cloudflare Zone ID"
    }, data.config, error) }}



    <h4>Navigationsleiste</h4>
    {{ forms.dashboardInput({
        type: "text",
        name: "ShopUrl",
        label: "Link zum Shop"
    }, data.config, error) }}

    {{ forms.dashboardInput({
        type: "text",
        name: "PicsUrl",
        label: "Link zu Pics"
    }, data.config, error) }}

    {{ forms.dashboardInput({
        type: "text",
        name: "MusicUrl",
        label: "Link zu Musik"
    }, data.config, error) }}

    {{ forms.csrfInput() }}
    {{ forms.fieldsetSubmit() }}

</form>
