$fa-font-path: '/dist/vendor/fontawesome/fonts';

// typefaces
$paragraph-type: 'Droid Serif', 'Times New Roman', Times, serif;
$sans-info-type: Arial, Helvetica, sans-serif;
$monospace-type: 'Lucida Console', Monaco, monospace;
$display-type:   'Cabin', Helvetica, sans-serif;

// colors
$brand-color: #2f8f8f;

$brand-facebook: #3b5998;
$brand-twitter: #4099ff;
$brand-whatsapp: #4dc247;
$brand-google: #dd4b39;

$message-border-radius: 2px;

$content-light-border-color: #d3d3d3;
$content-light-border: 1px solid $content-light-border-color;
$content-light-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12);
