@import 'base';
@import 'components/calendar';

#admin {
    &.info-box {
        padding: 15px;
    }

    h2,
    h3 {
        text-align: left;
        margin-top: 5px;
    }

    form {

        .row {
            padding: 7px 0;
            text-align: left;

            .info {
                margin-left: 7px;
                display: inline-block;
            }
        }

        textarea {
            min-height: 200px;
            max-width: 100%;

            font-family: $monospace-type;
            color: #657b83;
            word-wrap: break-word;
            font-size: 14px;
            margin-bottom: 20px;

            @include transition(background);
        }
    }

    .listing-row {
        padding: 2px 0;
    }

    .columns-2 {
        @include column-count(2);
    }
}
