@import 'base';

@import 'CSS:../../dist/vendor/normalize.css/normalize';
@import '../../dist/vendor/fontawesome/scss/font-awesome';
@import 'compass/css3/selection';

@import 'components/grid';
@import 'components/responsive';

@import 'components/navbar';
@import 'components/hero';
@import 'components/infobox';
@import 'components/footer';
@import 'components/message';
@import 'components/popup';
@import 'components/sponsor';

@import 'components/nav';
@import 'components/nav-quick';
@import 'components/nav-icons';

@import 'components/typography';
@import 'components/buttons';
@import 'components/forms';
@import 'components/util';

* {
    @include box-sizing(border-box);
    @include selection(#8ceafe, #555);
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: $display-type;
    margin: 0;
}


.content {
    background: #fff;
}

.content-offset {
    padding: 30px 0;
}

.full-offset {
    padding: 100px 0;
}

.container {
    margin: 0 auto;
}

// static
.cover-map:hover {
    @include opacity(.7);
}

.cover-map {
    background: image-url('map.jpg') no-repeat center center;
}

.info-box-cover {
    height: 350px;
}

.home .info-box-cover {
    height: 150px;
}


// home
.cover-0 {
    background: image-url('info-box_0.jpg') no-repeat center center;
}

.cover-1 {
    background: image-url('info-box_1.jpg') no-repeat center center;
}

.cover-2 {
    background: image-url('info-box_2.jpg') no-repeat center center;
}
