@import 'base';

article {

    margin: 0 20px 100px;
    text-indent: 0;
    line-height: 29px;
    font-style: normal;
    font-weight: 400;
    font-family: $paragraph-type;
    font-size: 20px;
    text-align: left;
    padding: 20px;
    border: 1px solid #d3d3d3;
    @include box-shadow(0 2px 6px 0 rgba(0,0,0,0.12));

    .intro {
        text-indent: 0;
        margin-bottom: 25px;
        line-height: 50px;
        font-size: 30px;
        letter-spacing: 0;
        font-style: italic;
        font-weight: 700;
    }

    .head {
        text-indent: 0;
        margin-bottom: 5px;
        font-size: 14px;
        letter-spacing: 1px;
        color: #666464;
        font-family: $sans-info-type;
        text-align: right;
        font-style: italic;
        font-weight: 400;
    }

    .foot {
        text-indent: 0;
        margin-bottom: 5px;
        font-size: 14px;
        letter-spacing: 1px;
        color: #666464;
        font-family: $sans-info-type;
        text-align: right;
        font-style: italic;
        font-weight: 400;
    }


    .fb-comments iframe {
        margin: 30px 0 0 !important;
    }

    h1 {
        font-size: 66px;
        line-height: 75px;
        margin-bottom: 15px;
        font-family: $display-type;
        width: 100%;
        text-align: center;
        text-transform: none;
        letter-spacing: -1px;
        text-indent: 0;
        font-style: normal;
        font-weight: 700;


        a,
        a:visited {
            color: #000;
        }

        a:hover {
            color: #444;
        }
    }

    iframe,
    object,
    embed,
    video,
    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

    .fb_iframe_widget {
        display: block;

        span {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }

    .twitter-tweet {
        margin: 0 auto !important;
    }
}
