{% extends "layout.twig" %}

{% set title = "Adminbereich" %}
{% set active_item = "admin" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ 'admin.css'|cssPath }}">
    <link rel="stylesheet" href="{{ 'datetimepicker/jquery.datetimepicker.css'|vendorPath }}">
    <link rel="stylesheet" href="{{ 'fullcalendar/dist/fullcalendar.min.css'|vendorPath }}">
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ 'datetimepicker/build/jquery.datetimepicker.full.min.js'|vendorPath }}"></script>
    <script type="text/javascript" src="{{ 'moment/min/moment-with-locales.min.js'|vendorPath }}"></script>
    <script type="text/javascript" src="{{ 'fullcalendar/dist/fullcalendar.min.js'|vendorPath }}"></script>
    <script type="text/javascript" src="{{ 'fullcalendar/dist/lang-all.js'|vendorPath }}"></script>
    <script type="text/javascript" src="{{ 'fullcalendar/dist/gcal.js'|vendorPath }}"></script>
    <script type="text/javascript" src="{{ 'admin.js'|jsPath }}"></script>
{% endblock %}

{% block main_content %}
    <div class="page-header">
        <h1><a href="/admin/"><i class="fa fa-dashboard"></i> Dashboard.</a></h1>
    </div>

    <div id="content" class="content">
        <div class="container content-offset">
            <div class="row" id="admin">
                {% include "chunks-admin/menu.twig" %}

                <div class="column offset_1 span_11">
                    {% include "chunks-content/errors.twig" %}
                    {% include "chunks-content/success.twig" %}

                    {% if activeModule %}
                        {% include "chunks-admin/" ~ template ~ ".twig" %}
                    {% else %}
                        <h2>Was gibt's neues?</h2>
                        <p>
                            Kalender, wuih!
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
