{% extends "layout.twig" %}

{% set title = "Downloads" %}
{% set active_item = 6 %}

{% block main_content %}
    <div class="page-header">
        <h1>Downloads.</h1>
    </div>

    <div id="content" class="content">
        <div class="container content-offset">
            <div class="row" id="downloads">
                <div class="column span_4 nav-side">
                    {% for folder in folders %}
                        {% if folder.Files|length > 0 %}
                            {% if folders|length > 1 %}
                                <b {% if not folder.Public %}title="Privater Ordner"{% endif %}>
                                    {% if not folder.Public %}
                                        <i class="fa fa-eye-slash"></i>
                                    {% endif %}
                                    {{ folder.Name }}:
                                </b>
                                <hr/>
                            {% endif %}
                            <ul class="nav-side">
                                {% for file in folder.Files %}
                                    <li {% if file.FileID == activeFile.FileID %}class="active"{% endif %}>
                                        <a href="/downloads/{{ file.FileID ~ '-' ~ file.Name }}">
                                            <i class="fa fa-{{ file.Icon }}"></i> {{ file.Title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="column offset_1 span_11">
                    {% if not activeFile %}
                        <h2>{{ s('DownloadsOverviewHeadline') }}</h2>
                        {{ s('DownloadsOverviewDescription') }}
                    {% else %}
                        <h2>{{ activeFile.Title }}</h2>
                        {{ activeFile.DescriptionCached|raw }}
                        <p>
                            <b>Dateigröße:</b> <code>{{ activeFile.Size|fileSize }}</code><br/>
                            <b>Dateiname:</b> <code>{{ activeFile.Name }}</code><br/>
                            {% if not activeFile.Folder.Public %}
                                <b>Dateipfad:</b> <code>{{ c('DefaultRequestScheme') ~ '://' ~ c('Domain') ~ activeFile.Path }}</code>
                            {% endif %}
                        </p>
                        <a href="{{ activeFile.Path }}" class="button">Download</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
