{% extends "layout.twig" %}

{% set title = "Galerie" %}
{% set active_item = -1 %}


{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">window.emfConfig = {{ s('javascript-config') }};</script>
    <script type="text/javascript" src="{{ 'gallery.js'|jsPath }}"></script>
    {#<script type="text/javascript" src="/dist/vendor/"#}
{% endblock %}

{% block main_content %}
<div class="page-header">
    <h1>Galerie.</h1>
</div>
<div id="content" class="content">
    <div class="container content-offset">
        <div id="gallery"></div>
    </div>
</div>
{% endblock %}
