{% extends "layout.twig" %}

{% set title = "" %}
{% set active_item = 0 %}

{% block main_content %}
    <div class="hero">
        <div class="hero-content">
            <img class="type" src="{{ 'emf_logo.png'|imgPath }}">
            <p>{{ s('meta-title') }}</p>
            <a href="#content"><i class="fa fa-angle-down fa fa-muted"></i></a>
        </div>
    </div>

    <div id="content" class="hero-bar">
        <a href="https://www.facebook.com/emfev" target="_blank" class="heavy-link">
            <i class="fa fa-facebook"></i> EMF auf Facebook
        </a>
        <a href="http://www.flickr.com/photos/emf-ev/" target="_blank" class="heavy-link">
            <i class="fa fa-camera"></i> EMF auf Flickr
        </a>
    </div>

    <div class="content home">
        <div class="container">
            <div class="row content-offset central-content">

                <div class="column span_5">
                    <div class="info-box js-height-fix">
                        <div class="info-box-cover cover-0"></div>
                        <div class="gap"></div>
                        <h2>{{ s('HomeColumnFirstHead') }}</h2>
                        {{ s('HomeColumnFirstContent') }}
                    </div>
                </div>

                <div class="column span_5 offset_2_1">
                    <div class="info-box js-height-fix">
                        <div class="info-box-cover cover-1"></div>
                        <div class="gap"></div>
                        <h2>{{ s('HomeColumnSecondHead') }}</h2>
                        {{ s('HomeColumnSecondContent') }}
                    </div>
                </div>

                <div class="column span_5 offset_2_1">
                    <div class="info-box js-height-fix">
                        <div class="info-box-cover cover-2"></div>
                        <div class="gap"></div>
                        <h2>{{ s('HomeColumnThirdHead') }}</h2>
                        {{ s('HomeColumnThirdContent') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
