<!DOCTYPE html>
<html lang="de" xmlns:fb="http://ogp.me/ns/fb#">

    <head>
        {% include "chunks-layout/head.twig" %}
        {% block stylesheets %}
            {% include "chunks-layout/stylesheets.twig" %}
        {% endblock %}
    </head>

    <body>
        {% include "chunks-layout/topbar.twig" %}

        {% block main_content %}{% endblock %}

        {% include "chunks-layout/footer.twig" %}

        {% block scripts %}
            {% include "chunks-layout/bottom-script.twig" %}
            {% if user %}
                <script type="application/json" id="js-data-user">{{ user.toJson()|raw }}</script>
            {% endif %}
        {% endblock %}

    </body>

</html>
