{% extends "layout.twig" %}

{% set title = "News" %}
{% set active_item = 4 %}

{% if not in_overview %}
    {% set description = article.ContentCached|striptags|replace({"\r": " ", "\n": " "})|truncate(200, true, '...') %}
    {% set title = article.Title %}
{% endif %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ 'news.css'|cssPath }}">
{% endblock %}

{% block main_content %}
    <div id="content" class="content">
        <div class="container full-offset">
            <div id="fb-root"></div>

            {% if in_overview %}
                {% for article in articles if article.Listed %}
                    {% include "chunks-content/news-article.twig" %}
                {% endfor %}
            {% else %}
                {% include "chunks-content/news-article.twig" %}
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>(function(e,t,n){var r,i=e.getElementsByTagName(t)[0];if(e.getElementById(n))return;r=e.createElement(t);r.id=n;r.src="//connect.facebook.net/en_US/all.js#xfbml=1&appId=367824589975042";i.parentNode.insertBefore(r,i)})(document,"script","facebook-jssdk")</script>
{% endblock %}
