{% extends "layout.twig" %}

{% set title = "Registrierung" %}
{% set active_item = -1 %}

{% import 'macros/forms.twig' as forms %}


{% block main_content %}

    <div class="page-header">
        <h1>Registrierung</h1>
    </div>


    <div class="container content-offset">
        <p class="center">
            {{ s('RegisterWelcomeText') }}
        </p>
        <br/>
        <div class="row">
            <form class="span_8 offset_4 column" method="POST">

                {% include "chunks-content/errors.twig" %}

                {{ forms.input("email", "Email", "Email:", "Eine Email-Adresse unter der du erreichbar bist", true, _context) }}

                {{ forms.input("text", "Pin", "Pin:", "Deine persönlich PIN-Nummer", true, _context, "Du findest die PIN-Nummer in dem Einladungsschreiben, welches du von uns per Email oder per Post erhalten hast. Falls du keinen Zugriff mehr darauf hast wende dich an den Admin.") }}

                {{ forms.input("password", "Password", "Passwort:", "Passwort", true, _context, false, "fifty-one") }}
                {{ forms.input("password", "PasswordDuplicate", false, "Passwort wiederholen", true, _context, false, "fifty-two") }}
                <div class="clearfix"></div>

                <span>Persönliche Daten:</span>
                <hr>

                {{ forms.input("text", "Firstname", "Name:", "Vorname", true, _context, false, "fifty-one") }}
                {{ forms.input("text", "Lastname", false, "Nachname", true, _context, false, "fifty-two") }}

                {{ forms.checkbox("Gender", "Geschlecht:", {
                    "Weiblich": "female",
                    "Männlich": "male"
                }, _context) }}

                {{ forms.input("tel", "Telephone", "Telefonnummer:", "Bitte gebe uns eine Telefonnummer unter der wir dich im Notfall erreichen können", true, _context) }}

                {{ forms.input("text", "Zip", "Wohnort:", "PLZ", true, _context, false, "fifty-one") }}
                {{ forms.input("text", "City", false, "Ort", true, _context, false, "fifty-two") }}
                <div class="clearfix"></div>
                {{ forms.input("text", "Street", false, "Straße & Hausnummer", true, _context) }}

                {{ forms.input("date", "Birthday", "Geburtsdatum", false, true, _context) }}

                {% if false %}
                    <a href="#fb" class="button btn-facebook marge-right">Daten aus Facebook importieren</a>
                    <a href="#gp" class="button btn-google">Daten aus Google+ importieren</a>
                {% endif %}

                <input type="hidden" name="ctoken" value="{{ csrf() }}"/>
                <button type="submit" id="submit" class="button">Senden</button>
            </form>
        </div>
    </div>
{% endblock %}
