{% extends "layout.twig" %}

{% set title = error_head|default("Error " ~ error_code) %}
{% set active_item = -1 %}
{% set page_static = false %}

{% block main_content %}
    <div class="page-header">
        <h1><i class="fa fa-angle-double-right"></i> {{ title }}.</h1>
    </div>

    <div id="content" class="content">
        <div class="container content-offset">
            {{ error_message|default('<p>Irgendetwas ist hier schief gelaufen...</p>')|raw }}
            {{ foo }}
            {% set stacktraceHtml = stacktraceHtml ? stacktraceHtml : "" %}
            {% if not stacktraceHtml %}
                {% set stacktraceHtml = "" %}
                {% for call in stacktrace %}
                    {% set stacktraceHtml = stacktraceHtml ~ "#" ~ loop.index0 ~ " " ~ call.file ~ ":" ~ call.line ~ " - " ~ call.function ~ "(" ~ call.args|json_encode ~ ")" ~ "\n" %}
                {% endfor %}
            {% endif %}

            {% if stacktraceHtml %}
                <pre class="stack-trace"><code>{% spaceless %}
                    {{ stacktraceHtml }}
                {% endspaceless %}</code></pre>
            {% endif %}
        </div>
    </div>
{% endblock %}
