{% extends "layout.twig" %}

{% set title = "Sponsoren" %}
{% set active_item = 3 %}

{% import 'macros/forms.twig' as forms %}


{% block main_content %}

    <div class="page-header">
        <h1>Unsere Sponsoren</h1>
    </div>


    <div class="container content-offset">
        <p class="center">
            {{ s('SponsorsTopText') }}
        </p>
        <br/>
        <div class="row sponsor-container">
            {% for sponsor in sponsors %}
                <div class="column span_5_6 sponsor-column">
                {% if sponsor.Link %}
                    <a href="{{ sponsor.Link }}" title="{{ sponsor.Name|escape }}" target="_blank" class="sponsor--link">
                {% endif %}
                    <div class="sponsor" style="background-image:url('{{ sponsor.File }}')"></div>
                {% if sponsor.Link %}</a>{% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
