{% extends "layout.twig" %}

{% set title = "Wo Ihr uns findet" %}
{% set active_item = 1 %}

{% block main_content %}
    <div class="page-header">
        {{ s('WhereHead') }}
    </div>
    <div id="content" class="content">
        <div class="container content-offset">
            <div class="info-box">
                <a href="http://goo.gl/maps/K6e4M" title="In Google Maps ansehen.">
                    <div class="info-box-cover cover-map"></div>
                </a>
                <div class="gap"></div>
                {{ s('WhereSubheadline') }}
                <div class="gap"></div>
                <p>{{ s('WhereInfoText') }}</p>
            </div>

            <div class="row">
                <div class="column span_8">
                    <div class="info-box">
                        <p>
                            <strong>Verantwortlicher des Inhalts:</strong><br>
                            {{ s('WhereContentResponsible') }}
                        </p>
                    </div>
                </div>
                <div class="column span_8">
                    <div class="info-box">
                        <p>
                            <strong>Administrator &amp; Technische Betreuung:</strong><br>
                            {{ s('WhereTechResponsible') }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
