{% import 'macros/forms.twig' as forms %}

<h3>Bearbeiten:</h3>

<form action="/admin/calendar/{{ activeAction == 'create' ? 'create' : ('update/' ~ data.event.EventID) }}" method="post" class="calendar-edit">

    {% if data.isDisabled %}
        <p class="message message-error">
            Der Termin kann nicht bearbeitet werden, da der Ersteller dies nicht aktiviert hat.
        </p>
    {% endif %}

    {{ forms.dashboardInput({
        type: "text",
        name: "Title",
        label: "Titel",
        disabled: data.isDisabled
    }, data.event, error) }}

    {{ forms.dashboardInput({
        type: "select",
        name: "EventType",
        label: "Termintyp",
        options: data.eventTypes,
        disabled: data.isDisabled
    }, data.event, error) }}

    {{ forms.dashboardInput({
        type: "checkbox",
        name: "Reminder",
        label: "Mitglieder Erinnern",
        description: "24h vor Beginn des Termins wird noch einmal eine Email an alle Mitglieder versendet.",
        disabled: data.isDisabled
    }, data.event, error) }}

    {{ forms.dashboardInput({
        type: "checkbox",
        name: "UsersCanModify",
        label: "Alle dürfen Bearbeiten",
        description: "Falls aktiviert, dürfen alle Mitglieder diesen Termin bearbeiten.",
        disabled: data.isDisabled
    }, data.event, error) }}

    {{ forms.dashboardInput({
        type: "datetime",
        name: "Start",
        label: "Beginn",
        button: "btn-now",
        buttonLabel: "Jetzt",
        placeholder: "JJJJ-MM-DD hh:mm:ss",
        disabled: data.isDisabled
    }, data.event, error) }}

    {{ forms.dashboardInput({
        type: "datetime",
        name: "End",
        label: "Ende",
        button: "btn-now",
        buttonLabel: "Jetzt",
        placeholder: "JJJJ-MM-DD hh:mm:ss",
        disabled: data.isDisabled
    }, data.event, error) }}

    {{ forms.dashboardInput({
        type: "text",
        name: "Place",
        label: "Ort",
        required: false,
        disabled: data.isDisabled
    }, data.event, error) }}

    {{ forms.dashboardInput({
        type: "textarea",
        name: "Description",
        label: "Beschreibung",
        required: false,
        disabled: data.isDisabled
    }, data.event, error) }}

    <h4>Teilnehmer</h4>
    {% for attendee in data.event.Attendees %}
        <div class="message message-stack">
            <div class="row">
                <span class="column span_2">
                    {% set icon = "clock-o" %}
                    {% set title = "Keine Rückmeldung" %}

                    {% if attendee.response == "declined" %}
                        {% set icon = "times" %}
                        {% set title = "Absage" %}
                    {% elseif attendee.response == "tentative" %}
                        {% set icon = "question" %}
                        {% set title = "Vielleicht" %}
                    {% elseif attendee.response == "accepted" %}
                        {% set icon = "check" %}
                        {% set title = "Zusage" %}
                    {% endif %}

                    <i class="fa fa-{{ icon }}" title="{{ title }}"></i>
                </span>
                <span class="column span_6">
                    {% if attendee.user %}
                        {{ attendee.user.Firstname }}
                        {{ attendee.user.Lastname }}
                    {% else %}
                        {{ attendee.email }}
                    {% endif %}
                </span>

                <span class="column span_4">
                    {{ attendee.isOrganizer ? 'ist Organisator' : '' }}
                    {{ attendee.comment }}
                </span>
            </div>
            {{ attendee.additionalGuests ? '+' ~ attendee.additionalGuests : '' }}
        </div>
    {% else %}
        <p>
            Die Checkbox "Mitglieder Benachrichtigen" muss gesetzt sein,
            da die Mitglieder ansonsten keine Benachrichtigung bekommen.
        </p>
    {% endfor %}

    {{ forms.dashboardInput({
        type: "checkbox",
        name: "NotifyChange",
        label: "Mitglieder Benachrichtigen",
        description: (activeAction == 'create' ? "Alle Mitglieder werden zu diesem Teermin per Email eingeladen." : "Alle Mitglieder werden nach bearbeiten dieses Termins über die Aktualisierung per Email informiert."),
        disabled: data.isDisabled
    }, data.event, error) }}

    {% if not data.isDisabled %}
        {{ forms.csrfInput() }}
        {{ forms.fieldsetSubmit(activeAction == 'update' ? "/admin/calendar/delete/" ~ data.event.EventID : '') }}
    {% endif %}
</form>
