{% if c('GoogleOauthResponse')|length > 0 %}
    <div
        class="calendar"
        data-calendarApiKey="{{ c('GoogleCalendarApiKey') }}"
        data-calendarId="{{ c('GoogleCalendarIdPrivate') }}"
        data-showHolidays="{{ c('CalendarShowHolidays') }}">
    </div>

    <h4>URL zum Importieren</h4>
    <input type="text" readonly="readonly" value="{{ data.calendarIcsLink }}"/>
{% else %}
    <p class="message message-error message-stack">
        Kalender nicht konfiguriert.
    </p>
    <a class="message center" href="{{ data.calendarOauthLink }}">
        Klicke hier um den Kalender mit deinem Google-Konto zu verknüpfen.<br/>
        Dadurch werden alle EMF-Termine in deinem Konto gespeichert.
    </a>
{% endif %}
