{% import 'macros/forms.twig' as forms %}

<h3>Sponsor bearbeiten:</h3>


<form action="/admin/sponsors/{{ activeAction == "create" ? "create" : "update/" ~ data.sponsor.SponsorID }}" method="post" class="sponsors-edit">

    {{ forms.dashboardInput({
        type: "text",
        name: "Name",
        label: "Name",
    }, data.sponsor, error) }}

    {{ forms.dashboardInput({
        type: "text",
        name: "Link",
        label: "Link",
        required: false
    }, data.sponsor, error) }}

    {{ forms.dashboardInput({
        type: "media",
        name: "File",
        label: "Bild",
    }, data.sponsor, error) }}

    {{ forms.dashboardInput({
        type: "textarea",
        name: "Description",
        label: "Beschreibung",
        required: false
    }, data.sponsor, error) }}

    {% include "chunks-content/markdown-hint.twig" %}

    {{ forms.csrfInput() }}
    {{ forms.fieldsetSubmit() }}
</form>
