<h2>Sponsorenwaltung:</h3>
<span>
    Um einen Sponsor hinzuzufügen einfach ein Bild auswählen/hochladen und Namen und ggf. Link angeben.
</span>
<hr/>

<div class="row sponsor-list">
    <h3>Sponsoren:</h3>
    {% for sponsor in data.sponsors %}
        <div class="row listing-row">
            {#<span class="column span_1">{{ sponsor.Position }}</span>
            <span class="column span_1">
                <form action="/admin/sponsors/position" method="post" class="form-inline">
                    <input type="hidden" name="id" value="{{ sponsor.SponsorID }}"/>
                    <input type="hidden" name="ctoken" value="{{ csrf() }}"/>
                    <input type="hidden" name="to" value="up"/>
                    <button type="submit" class="btn-link" title="Nach oben"><i class="fa fa-sort-up"></i></button>
                </form>

                <form action="/admin/sponsors/position" method="post" class="form-inline">
                    <input type="hidden" name="id" value="{{ sponsor.SponsorID }}"/>
                    <input type="hidden" name="ctoken" value="{{ csrf() }}"/>
                    <input type="hidden" name="to" value="down"/>
                    <button type="submit" class="btn-link" title="Nach unten"><i class="fa fa-sort-down"></i></button>
                </form>
            </span>#}
            <span class="column span_6">
                {{ sponsor.Name }}
            </span>

            <a href="/admin/sponsors/update/{{ sponsor.SponsorID }}" class="column span_2">
                <i class="fa fa-pencil"></i> bearbeiten
            </a>

            <form action="/admin/sponsors/delete" method="post">
                <input type="hidden" name="id" value="{{ sponsor.SponsorID }}"/>
                <input type="hidden" name="ctoken" value="{{ csrf() }}"/>
                <button type="submit" class="column span_5 button button-light button-confirm button-small">
                    <i class="fa fa-remove"></i> löschen
                </button>
            </form>
        </div>
    {% endfor %}
</div>
