.btn-link {
    background: none;
    border: none;
    display: inline-block;
    line-height: 1;
    @include appearance(none);
}

.button {
    border: 0 none;
    color: #fff;
    @include border-radius(2px);
    cursor: pointer;
    display: inline-block;
    font-family: $display-type;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 7px 10px;
    text-transform: none;
    width: 16.795%;
    min-width: 150px;
    text-align: center;
    transition-duration: .6s;
    transition-timing-function: ceaser($easeInOutBack);
    background: #444;
    overflow: hidden;


    &.button-error {
        background: #ed3434;

        &:active,
        &:hover,
        &:focus {
            background: #df3838;
        }
    }

    &.button-light {
        background: #eee;
        color: #000;
        border: 1px solid #ccc;

        &.button-prepend,
        &.button-append {
            padding: 6px 7px;
        }

        &:active,
        &:hover,
        &:focus {
            color: #000;
            background: #ddd;
        }
    }


    &.button-append {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
    }

    &.button-prepend {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
    }

    &.button-auto {
        width: auto;
        min-width: 0;
    }

    &.button-full {
        width: 100%;
        min-width: 0;
    }

    &.button-hidden-right {
        width: 0;
        padding: 6px 0;
        min-width: 0;
        border-right: 0;

        &.button-light {
            padding: 6px 0;
        }
    }

    &.button-small {
        padding: 1px 0;
        width: 100px;
        min-width: 0;

        &.button-hidden-right {
            width: 0;
            padding: 1px 0;
        }
        &.button-light {
            padding: 0;
        }
    }

    &.button-light.button-prepend ~ .button.button-light.button-append {
        border-left: 1px solid #ccc;
    }

    &:active,
    &:hover,
    &:focus {
        color: #fff;
        background: #393939;
    }
}

.btn-social {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;

    font-size: 18px;
    line-height: 32px;
    text-align: center;
    background: #444;
    color: #fff;

    &:hover {
        color: #fff;
        background: #393939;
    }

    .fb_comments_count {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 9px;
    }
}

.btn-facebook { background: $brand-facebook; }
.btn-whatsapp { background: $brand-whatsapp; }
.btn-twitter { background: $brand-twitter; }
.btn-google { background: $brand-google; }

.btn-hover-facebook:hover { background: $brand-facebook; }
.btn-hover-whatsapp:hover { background: $brand-whatsapp; }
.btn-hover-twitter:hover { background: $brand-twitter; }
.btn-hover-google:hover { background: $brand-google; }

.btn-hover-inverse:hover { background: #2f8f8f; }
