.calendar {
    button {
        border: 0 none;
        color: #fff;
        transition-duration: .6s;
        transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
        background: #444;
        text-shadow: none;
    }

    .fc-day-number {
        font-family: $sans-info-type;
    }

    .fc-today {
        background: #f3f3f3;
    }

    .public {
        background: #2f8f8f;
        color: #fff;
    }

    .private {
        border-color: #5c3542;
        background: #8f2f50;
        color: #fff;
    }

    .holidays {
        background: #e5e5e5;
        color: #4f4f4f;
    }
}
