.footer {
    width: 100%;
    padding: 14px 0;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;

    p {
        margin: 0;
    }
}
