label {
    cursor: pointer;
    display: block;

    &.label-inline {
        display: inline-block;
    }

    .left {
        float: left;
        width: 160px;
        text-align: right;
        display: block;
        padding-top: 6px;
        margin-right: 5px;
    }
}

.marg {
    margin: 0 0 15px;
}

input[type='text'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
textarea,
select {
    background-color: #fff;
    font-family: inherit;
    border: 1px solid #ccc;
    color: rgba(0, 0, 0, .75);
    display: block;
    font-size: .875em;
    padding: .5em;
    height: 34px;
    width: 100%;
    @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, .1));
    @include transition(all .45s ease-in-out);

    &:focus {
        border-color: #999;
        outline: none;
    }
}

select[multiple] {
    height: 140px;
}

.text-monospace {
    font-family: $monospace-type;
    font-size: 14px;
    height: 32px;
}


.validate:valid {
    background: #e0f9ff;
}

.validate.error,
input[required].error {
    background: #ffe0e0;
}


#submit {
    float: right;
}

#txtPass2 {
    margin-bottom: 40px;
}

form .fifty-one {
    width: 49%;
    float: left;
    margin-right: 2%;
}

form .fifty-two {
    width: 49%;
}

.marge-right {
    margin-right: 10px;
}

.form-inline {
    display: inline-block;
}
