$grid-cols: 16;

@for $i from 1 through $grid-cols {
    $cell-width: 100% / $grid-cols * $i;

    .span_#{$i} {
        width: $cell-width;
    }

    .offset_#{$i} {
        margin-left: $cell-width;
    }
}

.span_5_6 {
    width: (100% / 3);
}

.padding_1 {
    padding: 0 10px;
}

.offset_2_1 {
    margin-left: 2.084%;
}


.row:after,
.clearfix:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.column {
    float: left;
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    @include background-clip(padding-box !important);
}
