@media (max-width: 978px) {
    .hero {
        background: image-url('bg_main.jpg') no-repeat center center !important;
    }
}

.hero {
    min-height: 100%;
    color: #fff;
    text-align: center;
    background-color: #000;
    background: image-url('bg_main.jpg') no-repeat center center fixed;
    @include box-shadow(0 -2px 6px 0 rgba(0, 0, 0, .2) inset, 0 40px 46px -10px rgba(0, 0, 0, .7) inset);
    @include background-size(cover);
}


.hero-content {
    padding-top: 68px;
    width: 100%;

    > a > .fa-angle-down {
        font-size: 50px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        display: inline-block;
        color: #000;
        background: rgba(255, 255, 255, .4);
        margin-top: 14px;
        @include border-radius(50%);
        @include transition(all .3s ease);

        &:hover {
            background: #fff;
            color: rgba(0, 0, 0, .7);
            @include box-shadow(0 0 10 0 rgba(0, 0, 0, .7));
        }
    }

    > .type {
        width: 70%;
        min-width: 200px;
        max-width: 800px;
    }

    > p {
        margin: 0;
        font: 5em $display-type;
        @include text-shadow(6px 6px 0 rgba(0, 0, 0, .2));
    }
}


.hero-bar {
    width: 100%;
    padding: 14px 0;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
}
