.info-box {
    margin: 8px;
    text-align: center;
    @include box-shadow(0 2px 6px 0 rgba(0, 0, 0, .12));
    border: 1px solid #e7e7e7;
    background: #fff;

    h2 {
        margin-bottom: 25px;
        font-size: 30px;
        line-height: 25px;
        letter-spacing: 1px;
        font-family: $display-type;
        text-transform: none;
        font-style: normal;
        font-weight: 700;
        text-align: center;
    }

    p,
    li {
        line-height: 25px;
        font-style: normal;
        font-weight: 400;
        font-family: $paragraph-type;
        font-size: 17px;
        text-align: left;
        margin: 6px 15px;
    }

    ul {
        text-align: left;
        margin: 0;
        font-size: 13px;
    }

    li {
        margin: 0;
    }
}

.gap {
    width: 100%;
    height: 12px;
    @include background(linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .1)));
    @include filter-gradient(#0d0000, #1a0000);
    @include box-shadow(inset 0 3px 3px -2px rgba(0, 0, 0, .18), inset 0 10px 15px -10px rgba(0, 0, 0, .15), inset 0 -3px 3px -2px rgba(0, 0, 0, .08));
}

.info-box-cover {
    width: 100%;
    @include box-shadow(inset 0 -1px 0 0 rgba(0, 0, 0, .17));
    @include background-size(cover !important);
    @include transition(all .3s ease-in);
}
