.message {
    display: block;
    position: relative;
    width: 100%;
    min-width: 300px;
    padding: 25px;
    margin: 0 auto 20px auto;
    background: #fff;
    border: $content-light-border;
    @include border-radius($message-border-radius);
    @include box-shadow($content-light-shadow);


    &.message-success,
    &.message-error,
    &.message-hint {
        padding: 25px (25px + 48px + 25px);
        font-weight: bold;
        text-align: center;

        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 25px;
            top: 50%;
            @include transform(translateY(-50%));
            font-family: "FontAwesome";
            font-size: 48px;
            font-weight: normal;
            line-height: 32px;
        }
    }

    &.message-success:before {
        content: $fa-var-check;
    }

    &.message-error:before {
        content: $fa-var-times;
    }

    &.message-stack {
        @include border-radius($message-border-radius $message-border-radius 0 0);
        margin-bottom: 0;
        border-bottom: none;

        + .message {
            @include border-radius(0 0 $message-border-radius $message-border-radius);
        }
    }
}

ul.message {
    padding-left: 50px;
}
