.nav {
    @include transition(all .3s ease);

    > .active {
        background: rgba(0, 0, 0, .3);

        > a,
        > a:visited {
            color: #ddd;
        }
    }
}

.nav-side {
    display: block;
    list-style: none;
    padding: 0;

    a {
        display: block;
        padding: 10px;
        margin-bottom: 5px;
        border: 1px solid #d3d3d3;
        @include box-shadow($content-light-shadow);
    }

    li:last-child a {
        margin-bottom: 0;
    }

    .fa {
        margin-right: 8px;
    }

    .active a {
        background: #eee;
        color: #9d9d9d;
    }
}

.top-bar {
    position: fixed;
    width: 100%;
    min-height: 60px;
    background: rgba(0, 0, 0, .7);
    @include box-shadow(0 2px 8px 0 rgba(0, 0, 0, .2));
    color: #fff;
    z-index: 10;

    .divider {
        width: 1px;
        margin: 0 1px;
        height: 63px;
        background: rgba(0, 0, 0, .5);
    }

    > h1 {
        float: left;
        font: 1.15em $display-type;
        padding: 6px;
        padding-left: 8px;
        line-height: .9em;
        text-align: right;
    }



    a,
    a:visited,
    .menu-link {
        color: #fff;
    }

    a:hover,
    a:focus,
    a:active,
    .menu-link:hover,
    .menu-link:focus,
    .menu-link:active {
        color: #3cb5b5;
    }
}

.top-bar-collapse > ul {
    height: 100%;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    float: right;

    li {
        float: left;

        a,
        .menu-link {
            font-family: $display-type;
            cursor: pointer;
            outline: none;
            display: block;
            border: 0;
            background: rgba(0, 0, 0, .2);
            float: none;
            font-size: 16px;
            padding: 22px 15px;
            white-space: nowrap;

            &:hover,
            &:focus,
            &:active {
                background: rgba(0, 0, 0, 1);
            }
        }
    }
}


.menu-toggle {
    background: rgba(0, 0, 0, .2);
    padding: 20px 24px;
    float: right;
    display: none;

    > .fa {
        @include transition(transform .25s ease-in-out);
    }
}

.login-form {
    white-space: nowrap;
    margin: 0;

    input[type="text"],
    input[type="password"] {
        height: 31.5px;
    }

    > .float-left {
        display: none;
    }
}
