.nav-icons {
    @extend .nav-quick;
    padding: 0;
    margin: 0;

    li {
        margin: 6px;
    }

    li > a {
        font-size: 46px;
        line-height: 54px;
        height: 54px;
        width: 54px;
        text-align: center;
        border: $content-light-border;
        @include box-shadow($content-light-shadow);
    }
}
