.popup {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 450px;
    padding: 15px;
    border: $content-light-border;
    background: #fff;
    box-shadow: $content-light-shadow;
    @include transform(translateX(-50%));

    &:before,
    &:after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -6px;
        margin-bottom: 1px;
        border-bottom: 10px solid $content-light-border-color;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
    }

    &:after {
        border-bottom-color: #fff;
        margin-bottom: 0;
    }
}

.popup-button-container {
    position: relative;
}
