// Large desktop
@media (min-width: 1200px) {
    .visible-desktop { display: auto; }
    .hidden-desktop { display: none; }
    .container { max-width: 1200px; }
}
@media (min-width: 979px) and (max-width: 1199px) {
    .container { max-width: 980px; }
    .hero-content > p { font-size: 4em !important; }
}

// Portrait tablet to landscape and desktop
@media (max-width: 978px) {
    .visible-tablet { display: auto; }
    .hidden-tablet { display: none; }
    .container { max-width: 767px; }

    .column {
        width: 100% !important;
        margin: 0 !important;
    }

    .full-on-tablet {
        width: 100% !important;
        margin: 80px 0 !important;
    }

    .hero-content > p {
        font-size: 3.2em !important;
    }
}

// Landscape phones and down
@media (max-width: 766px) {
    .visible-phone { display: auto; }
    .hidden-phone { display: none; }
    .visible-portrait { display: auto; }
    .hidden-portrait { display: none; }
    .visible-tablet { display: auto; }
    .hidden-tablet { display: none; }
    .top-bar { position: static !important; }
    .menu-toggle { display: inline-block !important; }
    .full-on-landscape { width: 100%; }
    .login-form .float-left {
        width: 100%;
        text-align: left;
    }

    .top-bar .divider {
        width: 100% !important;
        margin: 1px 0 !important;
        height: 1px !important;
    }

    .nav {
        @include opacity(0);
        margin: 0 !important;
        display: none;
        width: 100%;

        li {
            width: 100%;
            height: 0;
        }

        .menu-link {
            width: 100%;
            text-align: left;
        }
    }

    .hero-content > p {
        font-size: 2.2em !important;
    }
}
