.sponsor--link {
    display: block;
}

.sponsor {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &:before {
        content: '';
        display: block;
        padding-top: (9 / 16 * 100%);
    }
}

.sponsor-container {
    margin: -2% 0 0 -2%;
}

.sponsor-column {
    margin: 2% 0 0 2%;
    width: (100% / 3 - 2);
}
