h1 {
    margin: 0;
    padding: 0;
}

a,
.btn-link {
    color: #2f8f8f;
    text-decoration: none;
    @include transition(all .3s ease);

    /*&:visited {
        color: #2f8f8f;
    }*/

    &:hover,
    &:focus,
    &:active {
        color: #3cb5b5;
    }
}

abbr {
    text-decoration: none;
    border-bottom: 1px dashed !important;
}


.heavy-link {
    font-family: $display-type;
    text-transform: uppercase;
    font-size: .7em;
    background: #e6e6e6;
    color: rgba(0, 0, 0, .85) !important;
    height: 22px;
    line-height: 22px;
    padding: 5px 14px 5px 15px;
    margin: 0 4px;
    @include border-radius(4px);
    @include opacity(1);
    @include transition(all .7s ease-in-out);

    &:hover,
    &:focus,
    &:active {
        @include opacity(.6);
    }
}

.page-header {
    text-align: center;
    padding-top: 90px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    color: #000;
    font: 2em $display-type;
}

hr {
    border: 0;
    border-top: 1px solid #646464;
    border-bottom: 1px solid #ddd;
}

.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.stack-trace {
    font-family: $monospace-type;
    border-left: 10px solid #efefef;
    padding-left: 6px;
}

code {
    display: inline-block;
    background: #f0f0f0;
    padding: 2px 4px;
    @include border-radius(5px);
    margin: 10px 0 0;
}

.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
