<div class="footer">
    <div class="container">

        {% if c('FooterSocial')|default(false) %}
            <a href="https://www.facebook.com/emfev" target="_blank" class="heavy-link"><i class="fa fa-facebook"></i> EMF auf Facebook</a>
            <a href="http://www.flickr.com/photos/emf-ev/" target="_blank" class="heavy-link"><i class="fa fa-camera"></i> EMF auf Flickr</a>
            <br/>
        {% endif %}

        {{ s('FooterInfoText') }}
    </div>
</div>
