<title>{% if title %}{{ title }} - {% endif %}{{ s('meta-title') }}</title>
{% block meta %}
    <meta charset="utf-8">
    <meta name="keywords" content="{{ s('meta-keywords') }}">
    <meta name="description" content="{{ s('meta-description') }}">
    <meta name="language" content="DE">
    <meta name="og:url" content="{{ canonical }}">
    <meta name="og:title" content="{% if title %}{{ title }} - {% endif %}{{ s('meta-title') }}">
    <meta name="og:site_name" content="{{ s('meta-title') }}">
    <meta name="og:description" content="{{ s('meta-description') }}">
    <meta name="og:image" content="{{ 'emf_logo_alt.png'|imgPath }}">
    <meta name="fb:page_id" content="{{ c('FacebookPageId') }}">
    <link rel="canonical" href="{{ canonical }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="icon" href="{{ 'favicon.png'|imgPath }}" type="image/png">
    <meta name="msapplication-navbutton-color" content="#2f8f8f">
    <meta name="theme-color" content="#4b4b4b">
{% endblock %}
