<div class="top-bar">
    <h1><a href="/">Electronic<br/><strong>Music</strong><br/>Friends</a></h1>
    <a href="#" class="menu-toggle"><i class="fa fa-angle-double-down fa-2x"></i></a>
    <div class="top-bar-collapse">
        <ul class="nav">
            {% for item, link in navbar_items %}
                {% if link == "null" %}
                    <li class="divider"></li>
                {% else %}
                    <li {% if loop.index0 is same as(active_item) %}class="active"{% endif %}>
                        <a href="{{ link }}" {% if link starts with 'http' %}target="_blank"{% endif %}>{{ item }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            <li class="divider"></li>

            {% if user %}

                <li {% if active_item is same as('admin') %}class="active"{% endif %}><a href="/admin/">Dashboard</a></li>
                <li>
                    <form class="hidden" action="/user/logout" method="POST">
                        <input type="hidden" name="ctoken" value="{{ csrf() }}"/>
                        <button type="submit" class="menu-link btn-link">Logout</button>
                    </form>
                </li>

            {% else %}

                <li><a href="#" class="toggle-login-form no-collapse">Login</a></li>
                <li>
                    <form class="login-form row" class="no-collapse" action="/user/login" method="POST">
                        <div class="float-left">
                            <input type="text" class="no-collapse submit-login" placeholder="Email" name="mail" required>
                            <input type="password" class="no-collapse submit-login" placeholder="Password" name="pw" required>
                            <input type="hidden" name="ctoken" value="{{ csrf() }}"/>
                        </div>
                        <button type="submit" class="menu-link float-left" style="display:none;"><i class="fa fa-chevron-right"></i> Senden</a></button>
                    </form>
                </li>

            {% endif %}

        </ul>
        <div class="clearfix"></div>
    </div>
</div>
