{% import 'macros/forms.twig' as forms %}

<h3>Bearbeiten:</h3>

<form enctype="multipart/form-data" action="/admin/files/{{ activeAction == "create" ? "create" : 'update/' ~ data.file.FileID }}" method="post" class="file-edit" data-file-prefix="{{ c('FilePrefix') ~ c('FilePath') }}">

    {{ forms.dashboardInput({
        type: "text",
        name: "Title",
        label: "Titel"
    }, data.file, error) }}

    {{ forms.dashboardInput({
        type: "file",
        name: "File",
        label: "Datei",
        disabled: activeAction == "update"
    }, data.file, error) }}

    {{ forms.dashboardInput({
        type: "text",
        name: "Path",
        label: "Pfad",
        disabled: true
    }, data.file, error) }}

    {{ forms.dashboardInput({
        type: "text",
        name: "Icon",
        label: "Icon",
        description: "<a href='https://fortawesome.github.io/Font-Awesome/cheatsheet/' target='_blank'>Mehr Icons</a>",
        button: "btn-select-icon",
        buttonLabel: "Wählen"
    }, data.file, error) }}

    {{ forms.dashboardInput({
        type: "select",
        name: "FolderID",
        label: "Ordner",
        description: "Öffentliche Dateien werden unter Downloads gelistet, private Dateien können nur von Mitgliedern mit den nötigen Rechten eingesehen werden.",
        options: data.folders
    }, { FolderID: data.file.FolderID|default(0) }, error) }}


    {{ forms.dashboardInput({
        type: "textarea",
        name: "Description",
        label: "Beschreibung"
    }, data.file, error) }}


    {% include "chunks-content/markdown-hint.twig" %}

    {{ forms.dashboardInput({
        type: "checkbox",
        name: "SendMail",
        label: "Email versenden",
        description: "Wenn aktiviert wird eine Email über das Update an alle registrierten Benutzer versendet."
    }, { SendMail: false }, error) }}

    {{ forms.csrfInput() }}
    {{ forms.fieldsetSubmit() }}

</form>
