{% import 'macros/forms.twig' as forms %}

<h3>Bearbeiten:</h3>

<form enctype="multipart/form-data" action="/admin/files/folder/{% if data.folder.FolderID is not defined %}new{% endif %}{{ data.folder.FolderID  }}" method="post" class="folder-edit">

    {{ forms.dashboardInput({
        type: "text",
        name: "Name",
        label: "Name"
    }, data.folder, error) }}

    {{ forms.dashboardInput({
        type: "checkbox",
        name: "Public",
        label: "Öffentlicher Ordner",
    }, data.folder, error) }}

    {{ forms.csrfInput() }}
    {{ forms.fieldsetSubmit() }}

</form>
