<h2>Dateien</h2>
<span>
	Alle Dateien sind unter <a href="/downloads">Downloads</a> einsehbar.<br/>
	Als Öffentlich markierte Dateien, können von Jedem Besucher gesehen werden.
	Als Privat Markierte Dateien können von Jedem Besucher gesehen werden, welcher über
	das Recht "Dateien - Private Dateien sichtbar" verfügt.
</span>
<hr/>
<h3>Verfügbare Dateien:</h3>

<div class="files-list">
    {% for folder in data.folders %}
        <h3>
            {{ folder.Name }}
            ({{ folder.Files|length }})
            -
            {% if folder.Public %}Öffentlich{% else %}Privat{% endif %}
            <a href="/admin/files/folder/{{ folder.FolderID }}"><i class="fa fa-pencil"></i></a>
        </h3>
        {% for file in folder.Files %}
            <div class="row">
                <span class="column span_7">
                    <i class="fa fa-{{ file.Icon }}"></i>
                    {{ file.Title }}
                </span>

                <a class="column span_2" href="{{ c('FilePrefix') ~ file.Path|trim('/') }}" target="_blank">
                    anzeigen
                </a>

                <a class="column span_2" href="/admin/files/update/{{ file.FileID }}">
                    <i class="fa fa-pencil"></i> bearbeiten
                </a>

                <form action="/admin/files/delete" method="post">
                    <input type="hidden" name="id" value="{{ file.FileID }}"/>
                    <input type="hidden" name="ctoken" value="{{ csrf() }}"/>
                    <button type="submit" class="column span_5 button button-light button-confirm button-small" href="/admin/news/delete/{{ article.NewsID }}?ctoken={{ csrf() }}">
                        <i class="fa fa-remove"></i> löschen
                    </button>
                </form>
            </div>
        {% endfor %}
    {% endfor %}
</div>
