<ul class="column span_4 nav-side">
    {% for module in modules %}
        <li {% if module.slug == activeModule %}class="active"{% endif %}>
            <a href="/admin/{{ module.slug }}">
                <i class="fa {{ module.faIcon }}"></i> {{ module.title }}
            </a>
        </li>
    {% endfor %}

    {% for action in quickActions %}
        <li class="quick-action">
            <a class="button button-full {{ 'class' in action|keys ? action.class }}" href="{{ action.url }}">{{ action.title }}</a>
        </li>
    {% endfor %}
</ul>
