{% extends "chunks-mail/index.twig" %}

{% block body %}
    {% include "chunks-mail/modules/header.twig" with {
        headline: "Termin Erinnerung"
    } %}
    {% include "chunks-mail/modules/1col-row.twig" with {
        headline: "Hallo " ~ User.user.Firstname ~ " " ~ User.user.Lastname ~ ",",
        text:
            "Vergiss nicht deinen Termin morgen, erstellt von " ~ Event.Organizer.user.Firstname ~ " " ~ Event.Organizer.user.Lastname ~ "." ~
            "<br/><br/><b>" ~ Event.Title ~ "</b><br/>" ~
            Event.Start|date("d.m.Y H:i") ~ " bis " ~ Event.End|date("d.m.Y H:i") ~ "<br/>" ~
            Event.Place ~ "<br/><br/>" ~
            Event.Description,
        raw: true
    } %}
    {% include "chunks-mail/modules/divider.twig" %}
    {% include "chunks-mail/modules/1col-text-row.twig" with { text: "Du erhälst diese Nachricht, weil du zu diesem Termin eingeladen bist." } %}
{% endblock %}

{% block body_alt %}
Termin Erinnerung

Hallo {{ User.user.Firstname }} {{ User.user.Lastname }},

Vergiss nicht deinen Termin morgen, erstellt von {{ Event.Organizer.user.Firstname }} {{ Event.Organizer.user.Lastname }}.
{{ Event.Title }}
{{ Event.Start|date("d.m.Y H:i") }} bis {{ Event.End|date("d.m.Y H:i") }}
{{ Event.Place }}
{{ Event.Description }}
{% endblock %}
