{% extends "chunks-mail/index.twig" %}

{% block body %}
    {% include "chunks-mail/modules/header.twig" with { headline: "Dateiänderung" } %}
    {% include "chunks-mail/modules/1col-row.twig" with { headline: "Hallo,", text: "soeben wurde die Datei <i>" ~ File.Title ~ "</i> auf emf-ev.de geupdated.", raw: true } %}
    {% include "chunks-mail/modules/button.twig" with { href: meta.baseUrl ~ File.Path, title: "Ansehen" } %}
    {% include "chunks-mail/modules/1col-row.twig" with { headline: "Beschreibung", text: File.DescriptionCached, raw: true } %}
    {% include "chunks-mail/modules/divider.twig" %}
    {% include "chunks-mail/modules/1col-headline-row.twig" with { src: meta.baseUrl ~ "/dist/img/mail-images/icon-file.jpg", srcWidth: 44, title: File.Name, text: meta.baseUrl ~ File.Path } %}
    {% include "chunks-mail/modules/1col-text-row.twig" with { text: "Du erhälst diese Email, weil der Bearbeiter der Datei dies veranlasst hat." } %}
{% endblock %}
