{% extends "chunks-mail/index.twig" %}

{% set registerUrl = meta.baseUrl ~ "/user/register?Pin=" ~ (Pin.Pin|url_encode) ~ "&Email=" ~ (Pin.Email|url_encode) %}

{% block metadata %}
    {% set jsonLd = {
        "@context": "http://schema.org",
        "@type": "EmailMessage",
        potentialAction: {
            "@type": "ConfirmAction",
            name: "Registrieren",
            handler: {
                "@type": "HttpActionHandler",
                url: registerUrl
            }
        },
        description: "Mithilfe von PIN registrieren"
    } %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include "chunks-mail/modules/header.twig" with { headline: "Dein PIN" } %}
    {% include "chunks-mail/modules/1col-row.twig" with { headline: "Hallo " ~ Pin.Name ~ ",", text: "Um dich zu registrieren benötigst du einen PIN. Mit dieser E-Mail erhälst du sowohl deinen PIN, als auch den Link, mit welchem du dich direkt registrieren kannst." } %}
    {% include "chunks-mail/modules/button.twig" with { href: registerUrl, title: "Registrieren" } %}
    {% include "chunks-mail/modules/divider.twig" %}
    {% include "chunks-mail/modules/1col-headline-row.twig" with { src: meta.baseUrl ~ "/dist/img/mail-images/icon-key.png", srcWidth: 44, title: Pin.Pin, text: meta.baseUrl ~ "/user/register" } %}
    {% include "chunks-mail/modules/1col-text-row.twig" with { text: "Willkommen in der Community!" } %}
{% endblock %}

{% block body_alt %}
Dein PIN

Hallo {{ Pin.Name }},
Um dich zu registrieren benötigst du einen PIN. Mit dieser E-Mail erhälst
du sowohl deinen PIN, als auch den Link, mit welchem du dich direkt registrieren kannst.

Registrieren:
    {{ registerUrl }}

PIN:
    {{ Pin.Pin }}

Willkommen in der Community!
{% endblock %}
