{% if error %}
    <p class="message message-error message-stack">
        Es sind Fehler aufgetreten!
    </p>
    <ul class="message">
        {% for key, input in error if "Duplicate" not in key %}
            {% for message in input %}
                <li>{{ message }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
