<div class="row">
    <p class="column offset_2 span_14">
        {% if activeModule == 'snippets' %}
            Ist das Häckchen bei <i>Markdown</i> gesetzt ist,
            wird der Inhalt mit Markdown verarbeitet.
        {% else %}
            Der Inhalt wird mit Markdown verarbeitet.
        {% endif %}
        Falls du noch nie Markdown benutzt hast, findest du unter
        folgendem Link eine
        <a href="http://www.designbits.de/artikel/text/markdown-eine-kleine-einfuehrung/">Deutschsprachige Einführung</a>.
        Zusätzlich kann auch ganz normales HTML eingetragen werden.
        <br/>
        <b>Hinweis:</b> Markdown wurde um um eine Funktion zum Einbetten externer Medien wie
        SoundCloud, YouTube, Tweets, FB-Posts, GoogleMaps, etc. erweitert.
        Es werden über 1.600 Webseiten unterstützt. Um diese Funktion zu
        verwenden gebe z.B. folgendes ein:
        <br/>
        <code>
            << https://youtube.com/watch?v=12345678901
        </code>
    </p>
</div>
