{% set article_url_short = article.getShortUrl() %}
{% set article_url_full = 'http://electronic-music-friends.org' ~ article_url_short %}

<article>

    <div class="head">
        <h1><a href="{{ article_url_short }}">{{ article.Title }}</a></h1>
        <p class="author">
            {{ s('NewsArticleFrom') }} {{ article.Author ?: article.User.getFullName()|default('Admin') }} {{ s('NewsArticleDate') }}
            <abbr title="{{ article.Published|date("d.m.Y H:i") }}">
                {{ article.Published|date("j. ") }} {{ german_months[article.Published|date("n") - 1] }} {{ article.Published|date("Y") }}
            </abbr>
        </p>
    </div>

    {{ article.ContentCached|raw }}

    <div class="foot">
        <a href="{{ article_url_short }}#comments" class="btn-social btn-hover-inverse" title="Kommentare">
            <i class="fa fa-comment-o"></i>
        </a>
        <a href="#" class="btn-social btn-hover-facebook" title="Auf Facebook teilen" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ article_url_full|url_encode }}', 'facebook-share-dialog', 'width=626,height=436'); return false;" target="_blank">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="#" class="btn-social btn-hover-twitter" title="Auf Twitter teilen" onclick="window.open('https://twitter.com/intent/tweet?text={{ ('Electronic Music Friends e.V. News - ' ~ article.Title)|url_encode }}&amp;url={{ article_url_full|url_encode }}', 'twitter-share-dialog', 'width=550,height=420'); return false;" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>
        <a href="whatsapp://send?text={{ ('Electronic Music Friends e.V. News - ' ~ article.Title ~ "\n\n" ~ article_url_full)|url_encode }}" class="btn-social btn-hover-whatsapp" title="Auf Whatsapp teilen">
            <i class="fa fa-whatsapp"></i>
        </a>

        {% if not in_overview %}
            <div class="fb-comments" id="comments" data-href="{{ article_url_full }}" data-num-posts="10" data-width="100%"></div>
        {% endif %}
    </div>

</article>
