{% import 'macros/forms.twig' as forms %}

<h3>User bearbeiten:</h3>


<form action="/admin/user/update/{{ data.user.UserID }}" method="post" class="user-edit">
    {{ forms.dashboardInput({
        type: "text",
        name: "Email",
        label: "Email",
        disabled: true
    }, data.user, error) }}

    {{ forms.dashboardInput({
        type: "select",
        name: "GroupID",
        label: "Gruppe",
        options: data.userGroups
    }, data.user, error) }}

    {{ forms.dashboardInput({
        type: "checkbox",
        name: "Active",
        label: "Aktiv",
    }, data.user, error) }}

    {{ forms.dashboardInput({
        type: "datetime",
        name: "CreatedAt",
        label: "Erstellt am",
        disabled: true
    }, data.user, error) }}

    {{ forms.dashboardInput({
        type: "datetime",
        name: "UpdatedAt",
        label: "Bearbeitet am",
        disabled: true
    }, data.user, error) }}

    {{ forms.dashboardInput({
        type: "text",
        name: "Usedpin",
        label: "Benutzter PIN",
        disabled: true
    }, data.user, error) }}

    {{ forms.csrfInput() }}
    {{ forms.fieldsetSubmit() }}
</form>
