{% import 'macros/forms.twig' as forms %}

<h3>Gruppe bearbeiten:</h3>


<form action="/admin/user/group/{{ data.group.GroupID }}" method="post" class="group-edit">
    {{ forms.dashboardInput({
        type: "text",
        name: "Title",
        label: "Titel",
        disabled: data.group is defined
    }, data.group, error) }}

    {% if not data.group is defined %}
        {{ forms.dashboardInput({
            type: "text",
            name: "GroupID",
            label: "Gruppen ID",
            button: "btn-group-slugify",
            buttonLabel: "Generieren"
        }, data.group, error) }}
    {% endif %}

    {{ forms.dashboardInput({
        type: "checkbox",
        name: "Admin",
        label: "Ist Admin",
        description: "Nur aktivieren, wenn die Gruppe komplett uneingeschränkten Zugriff auf alles haben soll."
    }, data.group, error) }}

    {{ forms.fieldsetButton({
        class: "btn-select-all",
        label: "Alle Auswählen"
    }) }}

    {% for rolePath1, subroles1 in data.rolesSorted %}
        {% for rolePath2, subroles2 in subroles1 %}
            {{ forms.dashboardInput({
                type: "checkboxes",
                name: "Roles",
                label: rolePath1|capitalize ~ ' ' ~ rolePath2|capitalize,
                options: subroles2
            }, data.groupRoles, error) }}
        {% endfor %}
    {% endfor %}


    {{ forms.csrfInput() }}
    {{ forms.fieldsetSubmit() }}
</form>
