{% import 'macros/forms.twig' as forms %}

<h3>PIN generieren</h3>

<form action="/admin/user/pin" method="post" class="generate-pin">

    <p>
        Da dem PIN eine Gruppe zugeordnet ist sollte der PIN mit der selben sorgfalt behandelt werden wie ein Passwort,
        da mit einem Admin-PIN ein Admin-Account mit vollen Rechten erstellt werden kann.
    </p>

    {{ forms.dashboardInput({
        type: "text",
        name: "Pin",
        label: "PIN",
        description: "Klicke entweder auf generieren oder trage einen eigenen Wert ein (max. 128 Zeichen).",
        button: "btn-pin-generate",
        buttonLabel: "Generieren"
    }, data.pin, formErrors) }}

    {{ forms.dashboardInput({
        type: "text",
        name: "Name",
        label: "Name des Empfängers",
    }, data.pin, formErrors) }}

    {{ forms.dashboardInput({
        type: "email",
        name: "Email",
        label: "Email-Addresse",
        required: false
    }, data.pin, formErrors) }}

    {{ forms.dashboardInput({
        type: "select",
        name: "GroupID",
        label: "Gruppe",
        options: data.userGroups,
        description: "Benutzergruppe muss voreingestellt werden."
    }, data.user, error) }}

    {{ forms.dashboardInput({
        type: "checkbox",
        name: "Sendmail",
        label: "Einladung senden",
        description: "Wenn aktiviert, wird eine Einladung mit dem angegebenen PIN an die eingetragene Email-Adresse versendet.",
    }, data.pin, formErrors) }}

    {{ forms.csrfInput() }}
    {{ forms.fieldsetSubmit() }}

</form>
