<h2>Userverwaltung:</h3>
<span>
    Zur Registrierung wird ein PIN benötigt, welcher hier generiert werden kann.
    Das Formular zur Registrierung ist <a href="/user/register">hier</a> zu finden.<br/>
    <br/>
    Das Berechtigungssystem sorgt dafür, dass Benutzer nicht mehr dürfen als sie sollten.
    Jeder Benutzer wird einer Gruppe zugeordnet, welche bestimmte Berechtigungen erhält.
    Die Gruppe Kann beim bearbeiten eines Users geändert werden.
    Die Berechtigungen, welche eine Gruppe hat können beim Bearbeiten einer Gruppe
    festgelegt werden. Nicht angemeldete Benutzer sind in der Gruppe <i>Öffentlich</i>.
</span>
<hr/>

<div class="row user-list">
    <h3>User:</h3>
    <p>Aktive User: {{ data.user|length }}</p>
    {% for user in data.user %}
        <div class="row listing-row">
            <span class="column span_4">
                {{ user.firstname }} {{ user.lastname }}
            </span>
            <span class="column span_4">
                {{ user.email }}
            </span>
            <span class="column span_3">
                {{ user.Group.title|default('-') }}
            </span>


            <a href="/admin/user/update/{{ user.userID }}" class="column span_2">
                <i class="fa fa-pencil"></i> bearbeiten
            </a>
        </div>
    {% endfor %}
</div>
<hr/>

<div class="group-list">
    <h3>Gruppen:</h3>
    <p>
        Beim löschen einer Gruppe werden alle User die noch in der Gruppe
        sein sollten Gruppenlos und müssen neu zugeordnet werden.
    </p>
    {% for group in data.groups %}
        <div class="row listing-row">
            <span class="column span_4">
                {{ group.title }}
            </span>
            <span class="column span_2">
                {{ group.admin ? data.roleCount : group.getAccessRoles()|length }}/{{ data.roleCount }} Rollen
            </span>
            <a href="/admin/user/group/{{ group.GroupID }}" class="column span_2">
                <i class="fa fa-pencil"></i> bearbeiten
            </a>

            <form action="/admin/user/group-delete" method="post">
                <input type="hidden" name="id" value="{{ group.GroupID }}"/>
                <input type="hidden" name="ctoken" value="{{ csrf() }}"/>
                <button type="submit" class="column span_5 button button-light button-confirm button-small">
                    <i class="fa fa-remove"></i> löschen
                </button>
            </form>
        </div>
    {% endfor %}
</div>
<hr/>

<div class="pin-menu">
    <h3>PIN-Übersicht:</h3>
    <p>Ungenutzte PINs: {{ data.pins|length }}</p>
    {% for pin in data.pins %}
        <div class="row listing-row">
            <span class="column span_4">
                {{ pin.Pin }}
            </span>
            <span class="column span_4">
                {{ pin.Name }}
                {% if pin.Email %}
                    ({{ pin.Email }})
                {% endif %}
            </span>

            <form action="/admin/user/pin-delete" method="post">
                <input type="hidden" name="id" value="{{ pin.Pin }}"/>
                <input type="hidden" name="ctoken" value="{{ csrf() }}"/>
                <button type="submit" class="column span_5 button button-light button-confirm button-small">
                    <i class="fa fa-remove"></i> löschen
                </button>
            </form>
        </div>
    {% endfor %}

    <form action="/admin/user/pin-delete" method="post">
        <input type="hidden" name="ctoken" value="{{ csrf() }}"/>
        <button type="submit" class="button button-error button-confirm">Alle PINs löschen</button>
    </form>
</div>
