{% import 'macros/forms.twig' as forms %}

<h3>Bearbeiten:</h3>

<form action="/admin/news/{{ activeAction == "create" ? 'create' : 'update/' ~ data.article.NewsID }}" method="post" class="news-edit">

    {{ forms.dashboardInput({
        "type": "text",
        "name": "Title",
        "label": "Titel"
    }, data.article, error) }}

    {{ forms.dashboardInput({
        "type": "text",
        "name": "SeoTitle",
        "label": "Short-URL",
        "description": "Das ist der Teil der URL welcher, an die ID angefügt wird.",
        "button": "btn-news-slugify",
        "buttonLabel": "Generieren"
    }, data.article, error) }}

    {{ forms.dashboardInput({
        "type": "datetime",
        "name": "Published",
        "label": "Datum",
        "placeholder": "JJJJ-MM-DD hh:mm:ss",
        "description": "Muss immer im Format <i>JJJJ-MM-DD hh:mm:ss</i> angegeben werden.",
        "button": "btn-now",
        "buttonLabel": "Jetzt"
    }, data.article, error) }}

    {{ forms.dashboardInput({
        "type": "text",
        "name": "Author",
        "label": "Author",
        "placeholder": "Name",
        "description": "Kann beliebigen Text enthalten.",
        "button": "btn-me",
        "buttonLabel": "Ich",
        "required": false
    }, { Author: data.article.Author ?: data.user.Firstname ~ ' ' ~ data.user.Lastname }, error) }}

    {{ forms.dashboardInput({
        "type": "checkbox",
        "name": "Listed",
        "label": "Öffentlich",
        "description": "Wenn nicht aktiviert, wird der Eintrag zwar nicht gelistet, ist aber trotzdem noch über die URL zu erreichen."
    }, data.article, error) }}

    {{ forms.dashboardInput({
        "type": "textarea",
        "name": "Content",
        "label": "Inhalt"
    }, data.article, error) }}

    {% include "chunks-content/markdown-hint.twig" %}

    {{ forms.csrfInput() }}
    {{ forms.fieldsetSubmit() }}

</form>
