<h2>Artikelverwaltung</h2>
<span>
	Artikel sind unter <a href="/news">News</a> einsehbar und für jeden Besucher der Website zugänglich.
	Nicht gelistete Artikel werden nicht unter den News angezeigt und können nur über den Link aufgerufen werden.
</span>
<hr/>
<h3>Verfügbare Artikel:</h3>

<div class="news-list">
    {% for article in data.news %}
        <div class="row listing-row">
            <a class="column span_8" href="/admin/news/update/{{ article.NewsID }}">
                <i class="fa fa-pencil"></i> {{ article.Title }}
            </a>

            <a class="column span_3" href="{{ article.getShortUrl() }}" target="_blank">
                {% if article.Listed %}
                    <i class="fa fa-eye"></i> gelistet
                {% else %}
                    <i class="fa fa-eye-slash"></i> nicht gelistet</span>
                {% endif %}
            </a>

            <form action="/admin/news/delete" method="post">
                <input type="hidden" name="id" value="{{ article.NewsID }}"/>
                <input type="hidden" name="ctoken" value="{{ csrf() }}"/>
                <button type="submit" class="column span_5 button button-light button-confirm button-small" href="/admin/news/delete/{{ article.NewsID }}?ctoken={{ csrf() }}">
                    <i class="fa fa-remove"></i> löschen
                </button>
            </form>
        </div>
    {% endfor %}
</div>

{% if action == "delete" %}
    {% include "chunks-content/admin-news-delete.twig" %}
{% endif %}
