{% macro input(type, name, label, placeholder, required, context, title, class) %}{% spaceless %}
    {% if label %}
        <label
            for="{{ name|lower }}"
            {% if title %}title="{{ title }}"{% endif %}>

            {% if title %}
                <i class="icon-info-sign"></i>
            {% endif %}
            {{ label|raw }}
        </label>
    {% endif %}

    <input
        type="{{ type }}"
        name="{{ name }}"
        id="{{ name|lower }}"
        class="
            {{ class|default("") }}
            {% if required %}validate{% endif %}
            {% if context.error is defined and context.error[name] is defined %}error{% endif %}
            marg"
        {% if type != "password" and context.data is defined and context.data[name] is defined %}value="{{ context.data[name] }}"{% endif %}
        {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
        {% if required %}required="required"{% endif %}>
{% endspaceless %}{% endmacro %}

{% macro checkbox(name, label, options, context) %}
    {% if label %}<label>{{ label }}</label>{% endif %}
    <div>
        {% for title, value in options %}
            <label class="label-inline">
                {{ title }}
                <input type="radio" name="{{ name }}" value="{{ value }}" class="validate marg {% if not loop.last %}marge-right{% endif %}" {% if context.data is defined and context.data[name] is defined and context.data[name] == value %}checked="checked"{% endif %}>
            </label>
        {% endfor %}
    </div>
{% endmacro %}

{% macro fieldsetInput(type, name, label, value, description, placeholder, buttonclass, buttonlabel, disabled) %}
    {% set inputwidth = 14 %}
    {% if (description is defined and description) and (buttonclass is defined and buttonclass) %}
        {% set inputwidth = 6 %}
    {% elseif (description is defined and description) or (buttonclass is defined and buttonclass) %}
        {% set inputwidth = 8 %}
    {% endif %}

    <div class="row">
        <div class="column span_2">
            <label for="{{ name }}">{{ label }}</label>
        </div>

        <div class="column span_{{ inputwidth }}">
            {% if type == "textarea" %}
                {% if disabled is defined and disabled %}
                    <span>{{ value }}</span>
                    <input type="hidden" name="{{ name }}" id="{{ name|lower }}" value="{{ value }}"/>
                {% else %}
                    <textarea name="{{ name }}" id="{{ name|lower }}" required="required">{{ value }}</textarea>
                {% endif %}
            {% elseif type == "checkbox" %}
                <input type="checkbox" name="{{ name }}" id="{{ name|lower }}" value="true" {% if value %}checked="{{ value }}"{% endif %}/>
            {% elseif type == "radio" %}
                <div>
                    {% for value, label in value %}
                        <label>
                            <input type="radio" name="{{ name }}" value="{{ value }}" {% if loop.first %}id="{{ name|lower }}"{% endif %}/>
                            <span>{{ label }}</span>
                        </label>
                    {% endfor %}
                </div>
            {% elseif type == "file" %}
                <input type="file" name="{{ name }}" id="{{ name|lower }}" multiple/>
            {% else %}
                <input type="{{ type }}" name="{% if disabled is defined and disabled %}disabled-{% endif %}{{ name }}" id="{{ name|lower }}" value="{{ (type == "datetime" and value.timestamp is defined) ? value|date("Y-m-d H:i:s") : value }}" placeholder="{{ placeholder }}" required="required" {% if disabled is defined and disabled %}disabled="disabled"{% endif %}/>
                {% if disabled is defined and disabled %}
                    <input type="hidden" name="{{ name }}" value="{{ value }}"/>
                {% endif %}
            {% endif %}
        </div>

        {% if buttonclass is defined and buttonclass %}
            <div class="column span_2">
                <button class="button button-append button-light button-full {{ buttonclass }}" data-input="{{ name|lower }}">{{ buttonlabel }}</button>
            </div>
        {% endif %}

        {% if description is defined and description %}
            <div class="column span_6">
                <span class="info">{{ description|raw }}</span>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro fieldsetText(text) %}
    <div class="row">
        <div class="column offset_2 span_14">
            <span>{{ text|raw }}</span>
        </div>
    </div>
{% endmacro %}

{% macro fieldsetSubmit(deleteUrl) %}
    <div class="row">
        {% if deleteUrl %}
            <div class="column span_2">
                <a class="button button-error" href="{{ deleteUrl }}">Löschen</a>
            </div>
        {% endif %}
        <div class="column {{ deleteUrl ? 'offset_12' : 'offset_14' }} span_2">
            <button class="button" type="submit">Senden</button>
        </div>
    </div>
{% endmacro %}

{% macro fieldsetButton(options) %}
    <div class="row">
        <div class="column offset_2 span_14">
            <a href="{{ options.href|default('#') }}" class="button {{ options.class }}">{{ options.label }}</a>
        </div>
    </div>
{% endmacro %}

{% macro csrfInput() %}
    <input type="hidden" name="ctoken" value="{{ csrf() }}"/>
{% endmacro %}


{% macro dashboardInput(options, data, error) %}
    {% set hasErrors = error[options.name]|length > 0 %}
    {% set inputValue = data[options.name] %}

    {% set inputWidth = 14 %}
    {% if options.description %}
        {% set inputWidth = inputWidth - 6 %}
    {% endif %}
    {% if options.button %}
        {% set inputWidth = inputWidth - 2 %}
    {% endif %}
    {% set required = not options.required is sameas(false) %}

    <div class="row">
        <div class="column span_2">
            <label for="{{ options.name }}">{{ options.label }}:</label>
        </div>

        <div class="column span_{{ inputWidth }}">
            {% if options.type == "textarea" %}
                {% if options.disabled %}
                    <span id="{{ options.name }}">{{ inputValue }}</span>
                {% else %}
                    <textarea name="{{ options.name }}" id="{{ options.name }}" {% if required %}required="required"{% endif %}  {% if hasErrors %}class="error"{% endif %}>{{ inputValue }}</textarea>
                {% endif %}

            {% elseif options.type == "checkbox" %}
                <input type="checkbox" name="{{ options.name }}" id="{{ options.name }}" value="true" {% if inputValue %}checked="checked"{% endif %} {% if hasErrors %}class="error"{% endif %} {% if options.disabled %}disabled="disabled"{% endif %}/>

            {% elseif options.type == "checkboxes" %}
                <div class="columns-2 {% if hasErrors %}error{% endif %}">
                    {% for value, label in options.options %}
                        <label>
                            <input type="checkbox" name="{{ options.name }}[]" value="{{ value }}" {% if data[value] %}checked="checked"{% endif %}/>
                            <span>{{ label }}</span>
                        </label>
                    {% endfor %}
                </div>

            {% elseif options.type == "radio" %}
                <div class="columns-2 {% if hasErrors %}error{% endif %}">
                    {% for value, label in options.options %}
                        <label>
                            <input type="radio" name="{{ options.name }}" value="{{ value }}" {% if loop.first %}id="{{ options.name }}"{% endif %} {% if value == inputValue %}checked="checked"{% endif %}/>
                            <span>{{ label }}</span>
                        </label>
                    {% endfor %}
                </div>

            {% elseif options.type == "select" %}
                <div {% if hasErrors %}class="error"{% endif %}>
                    <select name="{{ options.name }}" id="{{ options.name }}" {% if required %}required="required"{% endif %} {% if options.disabled %}disabled="disabled"{% endif %}>
                        {% for value, label in options.options %}
                            <option value="{{ value }}" {% if value == inputValue %}selected="selected"{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>

            {% elseif options.type == "file" %}
                <input type="file" name="{{ options.name }}" id="{{ options.name }}" {% if required %}required="required"{% endif %} {% if hasErrors %}class="error"{% endif %} {% if options.disabled %}disabled="disabled"{% endif %}/>

            {% elseif options.type == "media" %}
                <div class="column span_8">
                    <input type="text" name="{{ options.name }}" id="{{ options.name }}" value="{{ inputValue }}" {% if required %}required="required"{% endif %} {% if hasErrors %}class="error"{% endif %} {% if options.disabled %}disabled="disabled"{% endif %}/>
                </div>
                <div class="column span_4 popup-button-container">
                    <a href="#" class="button button-light button-append button-prepend button-full btn-select-media" data-target="[name='{{ options.name }}']">
                        <i class="fa fa-check-square-o"></i>
                        Auswählen
                    </a>
                </div>
                <div class="column span_4">
                    <a href="/admin/files/create" target="_blank" class="button button-light button-append button-full">
                        <i class="fa fa-upload"></i>
                        Hinzufügen
                    </a>
                </div>

            {% else %}
                    <input
                    type="{{ options.type }}"
                    name="{% if options.disabled %}disabled-{% endif %}{{ options.name }}"
                    id="{{ options.name }}"
                    value="{{ (options.type == "datetime" and inputValue) ? inputValue|date("Y-m-d H:i:s") : inputValue }}"
                    placeholder="{{ options.placeholder }}"
                    {% if required %}required="required"{% endif %}
                    {% if hasErrors %}class="error"{% endif %}
                    {% if options.disabled %}disabled="disabled"{% endif %}/>
            {% endif %}
        </div>

        {% if options.button %}
            <div class="column span_2">
                <button class="button button-append button-light button-full {{ options.button }}" data-input="{{ options.name }}" {% if options.disabled %}disabled="disabled"{% endif %}>{{ options.buttonLabel }}</button>
            </div>
        {% endif %}

        {% if options.description %}
            <div class="column span_6">
                <span class="info">{{ options.description|raw }}</span>
            </div>
        {% endif %}
    </div>
{% endmacro %}
